# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/dbname
POSTGRES_DB=dbname
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Redis Configuration (Used for ATTOM cache and celery)
REDIS_URL=redis://localhost:6379/0

# ATTOM API Configuration
ATTOM_API_KEY=your_api_key_here
